<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Competition</title>
</head>
<body align="center">
    <h1>Welcome to the Math Competition!</h1>
    <a href="/quiz">Start Quiz </a>
    <a href="/leaderboards">View Leaderboards </a>
    <p>Your last streak: <%= streak ? streak : "No streak recorded." %></p>
</body>
</html>
